@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.home-container {
  width: 100%;
}

.welcome-hero {
  position: relative;
  width: 100%;
  height: 90vh;
  max-height: 90vh;
  overflow: hidden;
}

/* Responsive pour la hauteur */
@include responsive(mobile) {
  .welcome-hero {
    height: 70vh;
    max-height: 70vh;
  }
}
